<!-- ======= About Section ======= -->
{% load static %}
    <br><br><br><br><div class="container" data-aos="fade-up">
        <div class="row gx-0">

            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <div class="content">
                    <h3>Quienes somos</h3>
                    <h2> Un grupo de trabajadores adiestrados en diferentes oficios y servicios para lograr el disfrute de los clientes .</h2>
                   
                    <div class="text-center text-lg-start">
                        <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Leer m&aacute;s</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                <img src="{% static '/img/grupo.jpg' %}" class="img-fluid" alt="Imagen no disponible">
            </div>

        </div>
    </div>

</section><!-- End About Section -->
